@model List<(string, int)>
@{
    ViewData["Title"] = "HallOfFame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HallOfFame</h1>

@if (Model.Any())
{

    foreach (var reporter in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                Email: @reporter.Item1
                Number of Report: @reporter.Item2
            </div>
        </div>

    }


}
else
{
    <a class="btn btn-primary">
        No Reporter
    </a>
}


