@model ReportViewModel
@{
    ViewData["Title"] = "AddReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddReport</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddReport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HazardDate" class="control-label"></label>
                <input asp-for="HazardDate" class="form-control" />
                <span asp-validation-for="HazardDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                Select a Hazard
                <select asp-for="HazardType" class="form-control" name="HazardType">
                    <option>unsafe act</option>
                    <option>condition</option>
                    <option>equipment</option>
                    <option>structure</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HazardLocation" class="control-label"></label>
                <input asp-for="HazardLocation" class="form-control" />
                <span asp-validation-for="HazardLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
