@model EditReportViewModel
@{
    ViewData["Title"] = "EditReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EditReport</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="~/css/register.css" rel="stylesheet" />

</head>

<body class="bg-light">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h1 class="fw-light">Edit report</h1>
                <p class="lead text-muted">You can modify the content of your report in the form below.</p>
            </div>

            <div class="row g-5">
                <!--Cadre de gauche-->
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3 fw-light"><strong>Report information</strong></h4>
                    <hr class="my-2">

                    <form method="post" class="" enctype="multipart/form-data">
                        <div class="row g-3">

                            <div class="col-12 form-group">
                                <label asp-for="HazardDate" class="col-sm-2 col-form-label">Hazard date</label>
                                
                                    <input asp-for="HazardDate" class="form-control">
                                    <span asp-validation-for="HazardDate" class="text-danger"></span>
                                
                            </div>
                            <div class="col-12 form-group">
                                Select a Hazard
                                <select asp-for="HazardType" class="form-control" name="HazardType">
                                    <option>unsafe act</option>
                                    <option>condition</option>
                                    <option>equipment</option>
                                    <option>structure</option>
                                </select>
                                <span asp-validation-for="HazardType" class="text-danger"></span>
                            </div>
                            <div class="col-12 form-group">
                                <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                                
                                    <input asp-for="Description" class="form-control" placeholder="Something broken">
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                
                            </div>
                            <div class="col-12 form-group">
                                <label asp-for="HazardLocation" class="col-sm-2 col-form-label"></label>
                                
                                    <input asp-for="HazardLocation" class="form-control">
                                    <span asp-validation-for="HazardLocation" class="text-danger"></span>
                                
                            </div>
                            <div class="col-12 form-group">
                                <label asp-for="LatitudeLocation" class="col-sm-2 col-form-label">Latitude</label>
                                
                                    <input asp-for="LatitudeLocation" class="form-control">
                                    <span asp-validation-for="LatitudeLocation" class="text-danger"></span>
                               
                            </div>
                            <div class="col-12 form-group">
                                <label asp-for="LongitudeLocation" class="col-sm-2 col-form-label">Longitude</label>
                               
                                    <input asp-for="LongitudeLocation" class="form-control">
                                    <span asp-validation-for="LongitudeLocation" class="text-danger"></span>
                               
                            </div>
                            <div class="col-12 form-group">
                                <label asp-for="ImageToUpload" class="col-md-2">ImageToUpload</label>
                                <div class="col-md-12">
                                    <input type="file" asp-for="ImageToUpload" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <input type="hidden" asp-for="ImageUrl" />
                            </div>
                            <div class="form-group row">
                                <input type="hidden" asp-for="CreationDate" />
                            </div>
                            <div class="form-group row">
                                <input type="hidden" asp-for="InvestigationRefId" />
                            </div>
                            <div class="form-group row">
                                <input type="hidden" asp-for="VoteRefId" />
                            </div>

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="col-sm-6 form-group">
                                <button type="submit" class="btn btn-success col-6"><strong>Update</strong></button>

                            </div>

                            <div class="col-sm-6 form-group">
                                <a asp-action="ManageReports" class="btn btn-warning col-6"><strong>Cancel</strong></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>