@model IEnumerable<Report>
@{
    ViewData["Title"] = "Maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Any())
{
    int i = 0;
    string lat = "lat";
    string lng = "lng";

    foreach (var report in Model)
    {
        i++;
        <div class="form-group row">
            <input type="hidden" asp-for="@report.LatitudeLocation" id="@lat@i"/>
        </div>
        <div class="form-group row">
            <input type="hidden" asp-for="@report.LongitudeLocation" id="@lng@i" />
        </div>
    }

}
<style>
    #map {
        height: 400px;
        width: 700px;
    }
</style>
<br />
<div class="row">
    <div id="map"> </div>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwIWe9dzbs3yOMx89_XQ8BCb-rAUFjXx4&callback=initMap" async defer></script>
</div>