
@{
    ViewData["Title"] = "EmailVerification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EmailVerification</title>


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
    </style>

    <!-- StyleSheet-->
    <link href="~/css/component.css" rel="stylesheet" />

</head>

<body class="bg-light">

    
    <div class="bd-cheatsheet container-fluid bg-body">
        <section id="components">
            <article class="my-4" id="alerts">
                <div class="bd-example">
                    <h1>Email Verification</h1>
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Well done !</h4>
                        <p>But you need to check your Email now.</p>
                        <hr>
                        <p class="mb-0">To connect and continue browsing our site, all you have to do is verify your email address by clicking on the pop-up that will appear at the bottom right or go to the link on the PaperCut application.</p>
                    </div>
                </div>  
            </article>
        </section>
    </div>

</body>
</html>