@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ForgotPassword</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    </style>

    <!--StyleSheet-->
    <link href="~/css/register.css" rel="stylesheet" />
</head>

<body class="bg-light">
    <div class="container">
        <main>

            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="https://i.ibb.co/ZRrw99X/NEMESYS-2.jpg" alt="NEMESYS-2" border="0" width="72" height="72">
                <h2>Account recovery</h2>
                <p class="lead">You forgot your password ? Don't worry, just follow the instructions given to you from now on!</p>
            </div>

            <div class="row g-5">
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">What is your email address?</h4>

                    <form asp-action="ForgotPassword" method="post" role="form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row g-3">

                            <div class="col-12 form-group">
                                <input asp-for="Email" class="form-control" placeholder="you@example.com" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-dark btn-lg" type="submit">Send recovery email</button>

                    </form>

                </div>
            </div>
        </main>
    </div>
</body>
</html>