
@{
    ViewData["Title"] = "Parameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Parameters</h1>

<div class="form-group row">
    <div class="col-sm-10">
        <a href="AccountParameter" class="btn btn-primary">Change My Info</a>
    </div>
    <div class="col-sm-10">
        <a href="ChangePassword" class="btn btn-primary">Change My Password</a>
    </div>
</div>