
@{
    ViewData["Title"] = "Parameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parameters</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            width: 100%;
            height: 225px;
        }
    </style>
</head>
<body>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto bg-dark text-white rounded-3 border shadow-lg">

                    <h1 class="fw-light"><strong>Settings</strong></h1>
                   
                    <p class="lead text-muted">You are in your account settings.</p>
                    <br />
                    <p class="lead text-muted"><strong>You can change your personal information or your password!</strong></p>
                    <a href="AccountParameter" class="btn btn-outline-info my-2 w-50 btn-lg" style="width:auto"><strong>Change My Info</strong></a>
                    <a href="ChangePassword" class="btn btn-outline-warning my-2 text-right w-50 btn-lg" style="width:auto"><strong>Change My Password</strong></a>
                </div>
            </div>
        </section>



        
    </main>
</body>
</html>
