@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ResetPassword</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    </style>

    <!--StyleSheet-->
    <link href="~/css/register.css" rel="stylesheet" />
</head>

<body class="bg-light">
    <div class="container">
        <main>

            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="https://i.ibb.co/ZRrw99X/NEMESYS-2.jpg" alt="NEMESYS-2" border="0" width="72" height="72">
                <h2>Account recovery</h2>
                <p class="lead">In order to recover your account, you must reset your password by putting a new one.</p>
            </div>

            <div class="row g-5">
                <div class="col-md-7 col-lg-8">

                    <form method="post" role="form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row g-3">
                            <div class="col-12 form-group">
                                <label asp-for="Password" class="control-label">New Password</label>
                                <input asp-for="Password" class="form-control" placeholder="MyNewPassword"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-12 form-group">
                                <label asp-for="ConfirmPassword" class="control-label">Confirm the new password</label>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="MyNewPasswordConfirmed"/>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="form-group">
                            <input type="submit" value="Create" class="w-100 btn btn-dark btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>

</html>